/* General container */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f5f5f5b0;
}

.container {
  max-width: 1300px;
  margin: 20px auto;
  padding: 10px;
}

/* Top section: inputs */
.input-section {
  background: #ffffff;
  padding: 20px;
  border-radius: 125px;
  box-shadow: 0 2px 8px rgba(79, 0, 116, 0.5);
  margin-bottom: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-section h2 {
  margin-bottom: 30px;
}

.inputs {
  display: grid;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.inputs input, .inputs select {
  padding: 8px 10px;
  border: 2px solid #4f0074;
  border-radius: 25px;
  text-align: center;
  min-width: 100px;
}

.input-group input::placeholder, .input-group select:invalid {
  color: #999;
}

.house-details, .house-location, .alt-house-location {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-bottom: 5px;
}

.alt-house-location {
  display: none;
}

#search-btn {
  margin-top: 15px;
  padding: 10px 20px;
  background: #4f0074;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

#search-btn:hover {
  background: #802fa6;
}

.section-divider {
  border: none;
  height: 4px;
  background-color: #4f0074;
  margin: 30px 0;
  border-style: none;
}

/* Bottom section: map & chart */
.output-section {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  height: 55%;
}

.vertical-divider {
  width: 4px;
  background-color: #4f0074;
  margin: 0 10px;
  border-style: none;
}

#map-container, #chart-container {
  background: #ffffff;
  flex: 1 1 45%;
  min-height: 400px;
  padding: 15px;
  border-radius: 50px;
  box-shadow: 0 2px 8px rgba(79, 0, 116, 0.5);
}

#map-container h3, #chart-container h3{
  text-align: center;
  margin-bottom: 15px;
}
